.body {
    background-color: darkgray;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkslategrey 
}
img {
    width: 250px

}
h2 { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.subjectContainer {
    display: grid;
    grid-template-columns: auto auto;
}
h4 {font-family:Arial, Helvetica, sans-serif}

.navbar {
    overflow: hidden;
    background-color: #333;
    top: 0; 
    width: 100%; 
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  .subjectBox4 img {
    width: 300px;
    
  }
  
  