body {
    background-image: url(../Images/background_image.png);
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    color: azure;
    margin-bottom: 20px;
    padding-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subjectbox {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.subjectbox a {
    text-decoration: none;
    color: azure;
}

.sbjctbtn {
    background-color: rgb(39, 101, 101,0.6);
    padding: 10px;
    border: 2px solid azure;
    margin: 15px;
    border-radius: 10px;
    color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav { 
    background-color: rgba(39, 101, 101, 0.5);
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding: 15px;
    width: fit-content;
    border-radius: 25px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .topnav a { 
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

.topnav a.active {
    background-color: black;
    color: azure;
    padding-left: 42.5px;
    padding-right: 42.5px;
    font-family: Arial, Helvetica, sans-serif;
}
.text {
    text-align: center;
    padding-top: 110px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}