body {
    background-image: url(../Images/Medieprod_Background.png);
    background-size: cover;
}

.Headline {
    color: gray;
    padding-left: 28%;
    padding-top: 2%;
}

.BL_logo img { 
    width: 100%;
    border-radius: 20px;
}

.Visittkort img { 
    width: 100%;
    border-radius: 20px;
}

.gridcontainer {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}



.topnav { 
    background-color:gray;
    overflow: hidden;
    text-align: center;
    margin: auto;
    padding: 15px;
    width: fit-content;
    border-radius: 25px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .topnav a { 
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

.topnav a.active {
    background-color:dimgray;
    color: black;
    padding-left: 42.5px;
    padding-right: 42.5px;
    font-family: Arial, Helvetica, sans-serif;
}